-
  const changeNumberFormat = (number) => number < 10 ? `0${number}` : `${number}`;

  const formatDate = (dateString) => {
    const date = new Date(dateString);

    const year = date.getFullYear();
    const month = changeNumberFormat(date.getMonth() + 1);
    const day = changeNumberFormat(date.getDate());
    const hours = changeNumberFormat(date.getHours());
    const minutes = changeNumberFormat(date.getMinutes());

    return `${year}.${month}.${day}, ${hours}:${minutes}`;
  };
