extends ../layouts/layout.pug

block content
  include ../partials/utils.pug

  .wrapper.wrapper--nobackground
    include ../partials/header-admin.pug

    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each pugArticle in pugArticles
            li.notes__list-item
              time.notes__item-time(datetime=`${pugArticle.createdAt}`) #{`${formatDate(pugArticle.createdAt)}`}
              a.notes__item-text(href=`/articles/${pugArticle.id}`) #{`${pugArticle.title}`}
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка

    include ../partials/footer.pug
